description "Drastic MQTT Listener"
author "jansen@umd.edu"

start on runlevel [2345]
stop on runlevel [!2345]

setuid {{ runtime_user }}

respawn

chdir {{ jobs_dir }}
exec {{ jobs_dir }}/scripts/listener.py --host={{ drastic_host }} --verbose
