[Unit]
Description=Drastic Jobs Worker {{ item.name }}

[Service]
Type=simple
EnvironmentFile=/etc/drastic-jobs-env
WorkingDirectory={{ jobs_dir }}
PIDFile=/var/run/worker-{{ item.name }}.pid
ExecStart={{ virtualenv_path }}/bin/celery --app=${APP} worker -n drastic-worker-{{item.name}} --pool=eventlet --logfile=${LOG_DIR}/workers-{{item.name}}.log --loglevel=${LOGLEVEL} -E -Q {{ item.queues }} --concurrency={{ item.workers }}
User={{ runtime_user }}

[Install]
WantedBy=multi-user.target
