description "Workers reacts to data events via Python/Celery"
author "jansen@umd.edu"

start on runlevel [2345]
stop on runlevel [!2345]

# Celery's specific app definition
env APP=workers.celery:app

env LOGLEVEL=DEBUG
env LOGFILE=/home/ciber/react/workers.log
env CLOWDER_URL={{ clowder_url }}
env INDIGO_URL={{ indigo_url }}
env INDIGO_USER={{ worker_indigo_user }}
env INDIGO_PASSWORD={{ worker_indigo_password }}
env ELASTICSEARCH_URL={{ elasticsearch_url }}

setuid ciber

# Try respawn a few times in case of errors, then bug out.
respawn
respawn limit 20 5

# Time to wait between TERM and KILL signals (relate this to your task execution time)
kill timeout 30

console output

chdir /home/ciber/react
exec celery --app=${APP} worker --logfile=${LOGFILE} --loglevel=${LOGLEVEL} --autoreload -E --concurrency=10 | logger -t celery-workers
