[Unit]
Description=React Worker {{ item.name }}

[Service]
Type=simple
EnvironmentFile=/etc/react-env
WorkingDirectory=/home/indigo/react
PIDFile=/var/run/worker-{{ item.name }}.pid
ExecStart=/usr/local/bin/celery --app=${APP} worker -n react-worker-{{item.name}} --logfile=${LOG_DIR}/worker-{{item.name}}.log --loglevel=${LOGLEVEL} --autoreload -E -Q {{ item.queues }} --concurrency={{ item.workers }}
User=indigo

[Install]
WantedBy=multi-user.target
